<div class="container show">

  <h1>
    Product:
    <%= @product.name %>
  </h1>
  <p id="notice"><%= notice %></p>

  <img src="<%= @product.image_url %>" alt="<%= @product.name %>" class="img-responsive"/>

  <p>
    <strong>Description: </strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Color: </strong>
    <%= @product.colour %>
  </p>

  <br>
  <%= link_to 'Edit', edit_product_path(@product), :class => 'btn btn-default' %>
  <%= link_to 'Back', products_path, :class => 'btn btn-default' %>
</div>
